
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>File Upload</h1>
<h3>Start Uploading Files Here</h3>
@if (ViewBag.Message != null)
{
    <div class="alert alert-success alert-dismissible" style="margin-top:20px">
        @ViewBag.Message
    </div>
}
<form method="post" enctype="multipart/form-data">
    <input type="file" name="files" multiple required  />
    <button type="submit" class="btn btn-primary" asp-controller="FileUpload" asp-action="UploadToFileSystem">Upload to File System</button>
    <button class="btn btn-success" type="submit" asp-controller="FileUpload" asp-action="UploadToDatabase">Upload to Database</button>
</form>